* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  :root {
    --font-size: 16px;
  }
  .title {
    color: #3a3a3a;
    font-size: calc(var(--font-size) * 1.75);
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

/* this is header styled */
.header {
    padding: 50px 10vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 200px;
  }
  .logo {
    color: #3a3a3a;
    font-size: calc(var(--font-size) * 1.5);
    font-weight: 700;
  }
  .nav-bar {
    height: 50px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  .nav-ul li a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: calc(var(--font-size));
    font-weight: 600;
    padding-bottom: 5px;
  
  }
  .nav-ul li{
    border-bottom: 2px solid white;
    transition:border-bottom 0.5s;
    
  }
  .nav-ul li:hover{
    border-bottom: 2px solid black;
  
  
  }


.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text .header-title{
    color: #3a3a3a;
    font-size: calc(var(--font-size) * 3);
    font-weight: 700px;
    line-height: 60px;
    margin-bottom: 20px;
}
.header-text .header-description{
    color: #3a3a3a;
    font-weight: 600;
    font-size: calc(var(--font-size) * 0.9);
    margin-bottom: 20px;
}
.header-btn{
    background-color: #E02C6D;
    color: #FFF;
    font-weight: 700px;
    font-size: calc(var(--font-size));
    padding: 10px 24px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 41px;

}
.header-btn:hover{
    gap: 20px;
    width:170px ;
   
  }
  .header-cover{
    background-image: url('./assets/Circle\ design.svg');
    background-repeat: no-repeat;
  }